.conteiner {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.search-result {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #333333;
  width: 100%;
  flex:none;
}

.search-result--red {
  color: red;
  font-weight: 500;
  font-size: 18px;
}

.search-target {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #828282;
}
